// Colors
$primary-color: #182C61;
$secondary-color: #f5f6fa;
$text-color: #fff;
$button-bg-color: #44bd32;
$button-hover-bg-color: #4cd137;

// Fonts
$main-font: Roboto, sans-serif;

// Breakpoints
$tablet-breakpoint: 1023px;
$mobile-breakpoint: 767px;